<!DOCTYPE html>
<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <meta charset="utf-8"/>
    <title>App</title>
</head>
<body>
<button type="button" class="btn btn-primary" onclick="location.href='./file'">upload</button>

<table border="1" style="border-width: 1px;">
    <tr>
        <td>N</td>
        <td style="width: 70px;">T</td>
        <td>C</td>

    </tr>

    {{#results}}
        <tr>
            <td>
                {{name}}
            </td>
            <td>
                {{age}}
            </td>
            <td>
                {{date}}
            </td>
            <td>
                <img src='{{image}}' style="width: 150px; height: 150px;">
            </td>
        </tr>
    {{/results}}
</table>
asdlkfaslkflkaslfksdlfk
<img src='{{result}}' style="width: 150px; height: 150px;">

{{result}}
</body>
</html>
