<!DOCTYPE html>
<html>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!--
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous"></script>-->
<head>
    <meta charset="utf-8"/>
    <title>App</title>
</head>
<body>
<form action="/fileUploadProcess" method="post" enctype="multipart/form-data">

    <table border="1">
        <tr>
            <td>
                file

            </td>
            <td>
                <input type="file" name="file" id="upload:">
            </td>
        </tr>
        <tr>
            <td>
                title:

            </td>
            <td>
                <input type="text" name="title" id="title">
            </td>

        </tr>
        <tr>
            <td>
                content
            </td>
            <td>
                <textarea rows="4" cols="50" name="content" id="content"></textarea>

            </td>
        </tr>
        <tr>
            <td>
                name
            </td>
            <td>
                <input type="text" name="name" id="title">

            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="submit" name="submit">
            </td>
        </tr>
    </table>
</form>

</body>
</html>
