<!DOCTYPE html>
<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <meta charset="utf-8"/>
    <title>App</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {

            $(".btnSubmit").click(function () {

                let _id = $(this).attr('value')

                location.href = './board/delete/' + _id;
            });

        });
    </script>
</head>
<body>
<button type="button" class="btn btn-primary" onclick="location.href='./file/uploadForm'">upload_form</button>

<table border="1" style="border-width: 1px;width: 300px;">

    <tr>
        <td>title</td>
        <td>{{result.title}}</td>
    </tr>

    <tr>
        <td>content</td>
        <td>{{result.content}}</td>
    </tr>

    <tr>
        <td>name</td>
        <td>{{result.name}}</td>
    </tr>
    <tr>
        <td>
            <img src="../{{result.image}}" style="width: 300px;height: 300px;"/>
        </td>
    </tr>

</table>


</body>
</html>
