<!DOCTYPE html>
<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <meta charset="utf-8"/>
    <title>고경준 천재님이십니디sdlkfsldkflskdf</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>

    <script>

        $(document).ready(function () {



            $(".btnSubmit").click(function () {

                let _id = $(this).attr('value')
                location.href = './board/delete/' + _id;
            });

            $(".row001").click(function () {

                let _id = $(this).attr('value')
                location.href = './detail/' + _id;
            });

        });
    </script>
</head>
<body>
<button type="button" class="btn btn-primary" onclick="location.href='./file/uploadForm'">upload_form</button>
{{#if results}}

    <table border="1" style="border-width: 1px;">

        <tr>
            <td style="width: 70px;background-color: navy; color:white; text-align: center">id</td>
            <td style="width: 70px;background-color: navy; color:white; text-align: center">title</td>
            <td style="width: 70px;background-color: navy; color:white;  text-align: center">content</td>
            <td style="width: 70px;background-color: navy; color:white;  text-align: center">name</td>
            <td style="width: 70px;background-color: navy; color:white;  text-align: center">date</td>
            <td style="width: 70px;background-color: navy; color:white;  text-align: center">content</td>

        </tr>

        {{#each results}}
            <tr>
                <td class="row001" value="{{_id}}">
                    {{_id}}
                </td>
                <td>
                    {{title}}
                </td>
                <td>
                    {{content}}
                </td>
                <td>
                    {{name}}
                </td>
                <td>
                    {{date}}
                </td>
                <td>
                    <img src='{{image}}' style="width: 150px; height: 150px;">
                </td>
                <td>
                    <button type="button" class="btn btn-primary btnSubmit" value="{{_id}}">delete</button>
                </td>
            </tr>
        {{else}}

            <tr>
                <td colspan="6">데이타가 nonononono</td>
            </tr>

        {{/each}}

    </table>
{{else}}
    <div>no data</div>
{{/if}}



</body>
</html>
